<footer class="footer main-footer">
  <div class="content has-text-centered">
    <p>
      Developed by <a href="https://github.com/rickyhurtado" title="Ricky Hurtado" target="_blank">Ironcoder</a>
      &copy; <%- (new Date()).getFullYear() %>
    </p>
    <p>
      <a href="https://facebook.com/Ironcoder" title="Like Ironcoder on Facebook" target="_blank">
        <span class="icon"><i class="fab fa-facebook"></i></span>
      </a>
      &nbsp;
      <a href="https://instagram.com/i.am.ironcoder" title="Follow Ironcoder on Instagram"  target="_blank">
        <span class="icon"><i class="fab fa-instagram"></i></span>
      </a>
    </p>
  </div>
</footer>
