.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
static/
themes/boilerplate/source/css/styles.css
themes/boilerplate/source/css/styles.min.css
themes/boilerplate/source/js/app.js
themes/boilerplate/source/js/app.min.js
