@import '../_bulma/sass/utilities/initial-variables.sass';

html,
body,
.main-footer {
  background-color: $white-ter;
}
.navbar-brand {
  .navbar-item {
    font-weight: bold;
    text-transform: uppercase;
  }
}
section {
  background-color: #fff;
}
input, button {
  box-shadow: none !important;
}
.main-footer {
  .icon svg {
    font-size: 2rem;
  }
}
code, pre {
  word-break: break-all;
}
.section.has-top-border {
  border-top: 1px solid #e8e8e8;
}
