<%- partial('_components/navbar/main_navs', { activeNav: 'Home' }) %>

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Hexo Boilerplate</h1>
      <h2 class="subtitle">
        Powered by
        <a
          href="https://hexo.io"
          title="Hexo is a fast, simple &amp; powerful blog framework powered by Node.js."
          target="_blank"
        >Hexo</a>
        UI framework and themed by
        <a
          href="https://bulma.io/"
          title="Bulma is an open source CSS framework based on Flexbox and built with Sass."
          target="_blank">Bulma</a>
        CSS framework.
      </h2>
      <p>
        <a
          href="https://github.com/rickyhurtado/hexo-boilerplate-theme"
          title="Hexo boilerplate theme for building static pages themed by Bulma UI framework."
          target="_blank"
          class="button is-success"
        >
          <span>Github</span> <span class="icon"><i class="fab fa-lg fa-github-alt"></i></span>
        </a>
      </p>
    </div>
  </div>
</section>

<section class="section has-top-border">
  <div class="columns">
    <div class="column is-8-desktop is-offset-2-desktop is-6-fullhd is-offset-3-fullhd">
      <div class="content">
        <article class="message is-info">
          <div class="message-body">
            <p>To update this page, open <code>themes/boilerplate/layout/_pages/home.ejs</code> file with your favorite code editor.</p>
          </div>
        </article>

        <h3>Static Files</h3>

        <p>To generate static files:</p>

        <pre><code>bin/build</code></pre>

        <p><strong>NOTE:</strong> Generated static files can be accessed in <code>static</code> folder.</p>

        <h3>Server</h3>

        <pre><code>hexo server -p 7777</code></pre>

        <h3>Page</h3>

        <p>Open <code>themes/boilerplate/layout/_pages/_home.ejs</code> to layout the home page.</p>

        <h3>Parent Page</h3>

        <p>To add new parent page:</p>

        <pre><code>hexo new page parent-page-name</code></pre>

        <article class="message is-info">
          <div class="message-body">
            <p>
              The <code>parent-page-name</code> is the same path used in URL to access the page.
              Example: <code>http://localhost:7777/parent-page-name</code>.
              Open the <code>source/parent-page-name/index.md</code> then update the <code>title</code>
              and add the <code>ejs_path</code> key.
            </p>
          </div>
        </article>

        <pre><code>---
layout: page
ejs_path: parent_page_name
title: Parent Page Name
---</code></pre>

        <article class="message is-info">
          <div class="message-body">
            <p>
              The <code>ejs_path</code> is used to map the respective <code>index.ejs</code>.
              Open the <code>themes/layout/_pages/</code> and create a new folder following the <code>ejs_path</code>
              value then create an <code>index.ejs</code> file. The expected EJS file path should be
              <code>themes/layout/_pages/parent_page_name/index.ejs</code>.
            </p>
          </div>
        </article>

        <h3>Child Page</h3>

        <p>To add a new child page:</p>

        <pre><code>hexo new page sub-page --path parent-page-name/child-page-name/index</code></pre>

        <article class="message is-info">
          <div class="message-body">
            <p>
              Always add <code>index</code> at the end of the path when generating a new child page.
              Open the <code>source/parent-page-name/child-page-name/index.md</code> then update the <code>title</code>
              and add the <code>ejs_path</code> key.
            </p>
          </div>
        </article>

        <pre><code>---
layout: page
ejs_path: parent_page_name/child_page_name
title: Child Page Name | Parent Page Name
---</code></pre>

        <article class="message is-info">
          <div class="message-body">
            <p>
              Following the notes for <code>parent-page-name</code>,
              the expected EJS file path for child page should be
              <code>themes/layout/_pages/parent_page_name/child_page_name/index.ejs</code>.
            </p>
          </div>
        </article>

        <h3>Gulp Tasks</h3>

        <p>To watch the changes in <code>.scss</code> and <code>.js</code> files:</p>
        <pre><code>gulp watch</code></pre>

        <article class="message is-success">
          <div class="message-body">
            <p>
              Check the <a href="https://github.com/rickyhurtado/hexo-boilerplate-theme/blob/master/gulpfile.js">gulpfile.js</a>
              for other available gulp tasks.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
