<footer class="footer main-footer">
  <div class="content has-text-centered">
    <p>
      <a href="/" title="<%= config.description %>"><%= config.title %></a> &copy; <%- (new Date()).getFullYear() %>
    </p>
  </div>
</footer>
